

@font-face {
    font-family: 'mainzed_typeregular';
    src: url('mainzedtype-Regular.otf');
    font-weight: normal;
    font-style: normal;

    /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}