
body {
    padding: 20px 100px;
}

* {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    letter-spacing: 0.38px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    overflow: hidden;
    float: left;
    clear: both;
}

li {
    padding-bottom: 10px;
}

.box {
    float: left;
    width: calc(50% - 50px * 2);
    padding: 0 50px;
    padding-top: 80px;
}

img {
    width: 70%;
}

.mapbox {
    float: left;
    padding: 0 calc(10% + 20px);
    padding-top: 70px;
    width: calc(80% - 20px * 2)
}

.boxheader {
    padding: 0 20px;
    padding-top: 70px;
    width: calc(100% - 20px * 2);
    text-align: center;
}

.time {
    width: 40%;
    float: left;
}

.follow {
    float: left;
    width: 60%;
} 

h1 {
    font-size: 30px;
    line-height: 40px;
    clear: both;
    width: 70%    
}

h2 {
    width: 73%;
}

h3 {
    padding-top: 40px;
    padding-bottom: 5px;
    float: left;
    clear: both;
    width: 100%;
}

.map {
    width: 100%;
}

#imprint {
    margin-top: 50px;
    margin-bottom: 100px;
    
}

#imprint span, #imprint div, #imprint p, #imprint address, #imprint h3 {
    font-size: 14px !important;
    line-height: 18px;
}


@media only screen and (max-width: 800px) {
   .box {
       width: 100%;
   }

   img {
       width: 100%;
   }
}